.container {
  width: 100%;
  height: calc(100vh - 148px);
  padding-left: 195px;
  padding-top: 145px;
  padding-bottom: 20px;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.formContent {
  max-width: 100vw;
  width: 80%;
  margin-top: 50px;
  overflow-y: auto;
  padding-bottom: 16px;
  border: 1px solid #225cb5;
  border-radius: 6px;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #225cb5;
}

.add__form {
  padding: 20px;
}

.formHeader h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

/* FORM */
.form__item {
  margin-bottom: 20px;
}

.form__submit--container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.form__submit {
  background-color: #6da04b;
  border: 1px solid #6da04b;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  width: 100%;
  max-width: 200px;
  padding: 9px 18px;
  font-size: 16px;
  transition: all 200ms ease;
}

.form__submit:hover {
  border-color: #6da04b;
  color: #6da04b;
  background-color: transparent;
  cursor: pointer;
}

.form__submit:active {
  border-color: #225cb5;
  color: #225cb5;
}

.form__item--label {
  color: #225cb5;
}

input,
textarea {
  width: 100%;
  background-color: #fff;
  color: #666666;
  outline: none;
  border: none;
  border-bottom: 2px solid #225cb5;
  height: 40px;
  transition: all 250ms ease;
}

input:hover,
textarea:hover {
  border-color: #225cb5;
}

input:focus,
textarea:focus {
  border-color: #225cb5;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 14px;
  font-weight: 700;
}

.add-course--select {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #225cb5;
  border-radius: 5px;
  color: #666666;
  width: 100%;
  max-width: 200px;
  outline: none;
}

.form__item--select {
  display: flex;
  flex-direction: column;
}

.form__item--file {
    margin-bottom: 4px;
}

/* Style for the wrapper */
.file-input-wrapper {
  position: relative;
  border-bottom: 2px solid #225cb5;
}

.file-input-wrapper div {
    margin-bottom: 8px;
    margin-top: 8px;
}

/* Hide the default input */
.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* Custom styling for the button */
.custom-file-label {
  display: inline-block;
  background-color: #225cb5; /* Blue background color */
  color: white; /* Text color */
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
}

/* Style for the selected file name */
.selected-filename {
  margin-left: 20px;
  color: #666666;
}

.form__year-sem--container {
    display: flex;
    align-items: center;
    width: 100%;
}

.form__year-sem--container .form__item {
    width: 50%;
}