* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.addrubric--contents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addrubric--container h2 {
    color: #225cb5;
    margin: 20px;
    text-align: center;
}

label.addrubric--rubric-name {
    color: #225cb5;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

label.addrubric--rubric-name input {
    font-size: 16px;
    padding: 10px;
}

.addrubric--min-max-notification {
    background-color: #af0e0e;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
}

.addrubric-table-overflow-container {
    max-height: 500px;
    overflow: auto;
    position: relative;
    width: 100%;
}

table.addrubric--table {
    border-collapse: collapse;
    padding-top: 65px;
}

table.addrubric--table thead tr {
    height: 70px;
}

table.addrubric--table tbody {
    position: relative;
    /* z-index: 1; */
}

table.addrubric--table tbody td {
    height: 0;
    padding: 5px 20px;
}

table.addrubric--table tbody tr.addrubric--level-row {
    border: solid 1.5px #0a336f;
}

table.addrubric--table tbody tr.addrubric--level-row,
table.addrubric--table tbody tr.addrubric--criterion-row {
    position: relative;
}

tr.addrubric--criterion-row td:not(.addrubric--add-criterion-btn-container) {
    border-bottom: solid 1.5px #0a336f;
    max-width: 250px;
    padding: 10px 20px !important;
    word-wrap: break-word;
}

tr.addrubric--criterion-row:nth-child(odd) td:not(:first-child) {
    background-color: #F0F0F0;
}

tr.addrubric--criterion-row td.addrubric--label,
tr.addrubric--criterion-row td.addrubric--confirmed-label {
    border: solid 1.5px #0a336f;
}

td.addrubric--last-criterion-response-container {
    border-right: solid 1.5px #0a336f;
}

textarea.addrubric--criterion-description {
    font-size: 16px;
    height: 100%;
    min-height: 50px;
    margin: 0;
    padding: 10px;
}

tr.addrubric--criterion-row-disabled {
    background-color: #e2e2e2;
    border: solid 1.5px #afafaf;
    height: 60px;
}

.addrubric--delete-column-btn-container,
.addrubric--delete-column-btn-container-hovered,
.addrubric--delete-row-btn-container,
.addrubric--delete-row-btn-container-hovered {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0px 10px;
    position: absolute;
    top: 0px;
    width: 267px;
}

.addrubric--delete-row-btn-container,
.addrubric--delete-row-btn-container-hovered {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    width: 0;
    /* width: 100%; */
}

.addrubric--delete-column-btn-container-hovered,
.addrubric--delete-row-btn-container-hovered {
    background-color: rgb(241 0 0 / 40%);
    border: solid 1.5px #cc5959;
    z-index: 999;
}

.addrubric--delete-row-btn-container-hovered {
    width: 100%;
}

.addrubric--delete-column-btn-container button,
.addrubric--delete-column-btn-container-hovered button,
.addrubric--delete-row-btn-container button,
.addrubric--delete-row-btn-container-hovered button {
    background-color: #fff;
    background-image: url('../assets/redtrashcan.png');
    background-position: center center;
    background-size: 23px 30px;
    background-repeat: no-repeat;
    border: 1.5px solid #af0e0e;
    color: #af0e0e;
    padding: 20px;
    transition: all .2s ease;
}

.addrubric--delete-row-btn-container button,
.addrubric--delete-row-btn-container-hovered button {
    margin-top: 0 !important;
    margin-right: 10px !important;
}

.addrubric--delete-column-btn-container button:hover,
.addrubric--delete-column-btn-container-hovered button:hover,
.addrubric--delete-row-btn-container button:hover,
.addrubric--delete-row-btn-container-hovered button:hover {
    background-color: #af0e0e;
    background-image: url('../assets/whitetrashcan.png');
    color: #fff;
}

tbody td.addrubric--label,
tbody td.addrubric--confirmed-label {
    background-color: #225cb5;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

td.addrubric--confirmed-label {
    padding: 15px 20px !important;
}

.addrubric--level-inputs {
    align-items: center;
    display: flex;
    gap: 5px;
}

.addrubric--add-level-btn-container {
    background-color: #6da04b;
    border: solid 1.5px #3b6b1b;
    border-left: none;
    padding: 0px !important;
}

.addrubric--add-level-btn-container button {
    background-color: #6da04b;
    border-radius: 0px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 16px 20px;
    transition: all .2s ease;
}


button.addrubric--next-btn,
button.addrubric--back-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
}

button.addrubric--next-btn {
    background-color: #6da04b;
    border: 1.5px solid #6da04b;
    color: #fff;
    transition: all .2s ease;
}

button.addrubric--back-btn {
    background-color: #fff;
    border: 1.5px solid #6da04b;
    color: #6da04b;
}

button.addrubric--back-btn:hover {
    background-color: #6da04b;
    border: 1.5px solid #6da04b;
    color: #fff;
    transition: all .2s ease;
}

td.addrubric--add-criterion-btn-container {
    border: 1.5px solid #3b6b1b;
    padding: 0px !important;
}

td.addrubric--add-criterion-btn-container button {
    background-color: #6da04b;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    transition: all .2s ease;
    width: 100%;
}

.addrubric--add-level-btn-container button:hover,
td.addrubric--add-criterion-btn-container button:hover,
button.addrubric--next-btn:hover {
    background-color: #59863d;
    border-color: #59863d;
    color: #fff;
}

table.addrubric--table tbody input {
    border: solid 1.5px rgba(0,0,0, 0.2);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

tr.addrubric--criterion-row-disabled input {
    cursor: not-allowed;
}

textarea.addrubric--criterion-description {
    font-size: 16px;
    height: 100%;
    margin: 0;
}

input.addrubric--level-name,
input.addrubric--criterion-name {
    width: 130px;
}

input.addrubric--points-number {
    width: 62px;
}

.addrubric--only-next-btn-container,
.addrubric--back-next-btns-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
}

.addrubric--back-next-btns-container {
    justify-content: space-between;
}

td.addrubric--delete-row-btns-section {
    border: hidden;
    border-left: solid 1.5px #0a336f;
    padding: 0px 40px !important;
}
