
label.add-survey--label-pairing {
  flex-direction: row;
}

label.add-survey--label-pairing div.pairing-mode-img-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

label.add-survey--label-pairing div.drop-down-wrapper {
  flex-direction: column;
  gap: 5px;
}

img.pairing-mode-img {
  width: 220px;
  /* margin-left: auto; */
  display: flex;
  /* margin-right: 5px; */
  float: right;
}

