.delete-survey--contents-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

h2.delete-survey--main-title {
  color: #225cb5;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.delete-survey--inputs-container,
.delete-survey--inputs-container-error {
  width: 100%;
}

.delete-survey--inputs-container label,
.delete-survey--inputs-container-error label {
  color: #225cb5;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.delete-survey--inputs-container input,
.delete-survey--inputs-container-error input {
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.delete-survey--inputs-container input {
  background-color: #fff;
  border: solid 1.5px #225cb5;
}

.delete-survey--inputs-container-error input {
  background-color: #ffdddd;
  border: 1.5px solid #af0e0e;
}

.delete-survey-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
}

button.delete-survey--confirm-btn {
  background-color: #6da04b;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 10px 20px;
  transition: all .2s ease;
}

button.delete-survey--confirm-btn:hover {
  background-color: #59863d;
  color: #fff;
}

label.delete-survey--error-label {
  color: #af0e0e;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
  text-align: left;
}

/* PHONES AND SMALL DEVICES */
@media screen and (max-width: 500px) {

  .delete-survey-btn-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      width: 100%;
  }

}
