.extend-survey--boxes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.extend-survey--left-box-container,
.extend-survey--right-box-container {
  align-items: center;
  /* aspect-ratio: 1/1; */
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-between;
  padding: 20px;
  /* text-align: center; */
  width: 100%;
}

.extend-survey--left-box-container {
  background-color: #225cb5;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
}

.extend-survey--right-box-container {
  background-size: cover;
  border-radius: 0px 0px 5px 5px;
  color: #225cb5;
}

.extend-survey--boxes-container h2,
.extend-survey--boxes-container h3 {
  font-size: 20px;
}

.extend-survey--boxes-container h2 {
  margin-bottom: 5px;
}

.extend-survey--left-box-container h3 {
  font-weight: normal;
}

.extend-survey--inputs-container {
  display: flex;
  flex-direction: row;
}

.extend-survey--inputs-container label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
}

/* PHONES AND SMALL DEVICES */
@media screen and (max-width: 650px) {
  .extend-survey--inputs-container {
    display: flex;
    flex-direction: column;
  }

}
