.container {
  width: 100%;
  padding-left: 195px;
  padding-top: 145px;
  padding-bottom: 20px;
}

.library--container {
  height: calc(100vh - 148px);
  padding-left: 195px;
}

.container-of-rubrics {
  padding-bottom: 50px;
}

.library--container .yes-course {
  display: flex;
  justify-content: center;
  scroll-margin-top: 148px;
}

.library--container .yes-course h1 {
  color: #225cb5;
  max-width: 100vw;
  width: 100%;
  padding-left: 50px;
  margin-top: 40px;
  margin-bottom: -20px;
  overflow-y: auto;
  border-radius: 6px;

}


.library--container .no-course {
  display: flex;
  justify-content: center;
  scroll-margin-top: 148px;
}

.library--container .no-course h1 {
  color: #225cb5;
  max-width: 100vw;
  width: 100%;
  padding-left: 50px;
  margin-top: 40px;
  margin-bottom: -20px;
  overflow-y: auto;
  border-radius: 6px;

}

@media screen and (max-width: 800px) {
  .container {
    padding-left: 0px;
  }
}