.input-wrapper {
  font-family: Arial, sans-serif;
  width: 48%;
  margin: 1%;
  position: relative;
}
.input-wrapper1 {
  font-family: Arial, sans-serif;
  width: 48%;
  margin: 1%;
  position: relative;
  border-bottom: 2px solid #e0e0e0;
}

label {
  display: block;
  margin-bottom: 8px;
  margin-left: 10px;
  font-size: 14px;
}

.styled-input {
  width: 100%;
  padding: 8px 15px;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
}
.styled-input1 {
  width: 25%;
  padding: 8px 15px;
  border: none;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.styled-input:focus {
  border-bottom-color: #a0a0a0;
}

.styled-input::placeholder {
  color: #a0a0a0;
  opacity: 1;
}

.Cancel:hover {
  background-color: red; /* Green */
  color: white;
}
.CompleteSurvey:hover {
  background-color: Green; /* Green */
  color: white;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 1000; /* make sure it appears above other elements */
}

/* Modal content container */
.modal-content {
  width: 1300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.string-list-item {
  padding: 8px 12px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  list-style-type: none; /* Remove default list styling */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* A subtle shadow for depth */
}
