.input-wrapper {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    position: relative;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: 14px;
}

.styled-input {
    width: 100%; 
    padding: 8px 15px;
    border: none; 
    border-bottom: 2px solid #e0e0e0; 
    font-size: 16px;
    background-color: transparent;
    outline: none; 
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.styled-input:focus {
    border-bottom-color: #a0a0a0;
}

.styled-input::placeholder {
    color: #a0a0a0;
    opacity: 1;
}

.Cancel:hover {
    background-color: red; /* Green */
    color: white;
}
.CompleteSurvey:hover {
    background-color:Green; /* Green */
    color: white;
}
