.pairingLabel:hover:before{
  position: absolute;
  content: 'Pairing Modes are utilized in determining BLANK. The following pairing modes are described below';
  top: -.50rem;
  height: 250px;
  width: 400px;
  transform: translateX(5%);
  border-radius: .3rem;
  text-align: center;
  padding: .5rem;
  z-index: 1000; /* make sure it appears above other elements */
  background: #333;
}

.multiplierLabel:hover:before{
  position: absolute;
  content: 'A multiplier is a weighting for Manager Reviews. Only applicable with certain pairing modes';
  top: -.50rem;
  height: 150px;
  width: 300px;
  transform: translateX(5%);
  border-radius: .3rem;
  text-align: center;
  padding: .5rem;
  z-index: 1000; /* make sure it appears above other elements */
  background: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  margin-left: 10px;
  font-size: 14px;
}

.styled-input {
  width: 100%;
  padding: 8px 15px;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.styled-input:focus {
  border-bottom-color: #a0a0a0;
}

.styled-input::placeholder {
  color: #a0a0a0;
  opacity: 1;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 1000; /* make sure it appears above other elements */
}

/* Modal content container */
.modal-content {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
}

.CancelContainer {
  margin-bottom: 0px;
}

.CancelContainer .CancelButton {
    background-color: rgba(0,0,0,0);
    color: #225cb5;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    padding: 6px 16px;
    right: 0;
    top: 0;
    border-radius: 0px 5px 0px 0px;
    border-style: none;
}

.CancelContainer .CancelButton:hover {
  cursor: pointer;
}

.modal--contents-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

h2.modal--main-title {
  color: #225cb5;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

h3.form__item--info {
  font-size: 20px;
  font-weight: bold;
}

label.form__item--label,
label.form__item--file-label {
  color: #225cb5;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  gap: 5px;
  margin: 0;
  width: 100%;
}

label.form__item--file-label input::file-selector-button {
  background-color: #225cb5;
  border: solid 1.5px #225cb5;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
  padding: 10px;
}

label.form__item--file-label input.form__item-input-error::file-selector-button {
  background-color: #af0e0e !important;
  border: solid 1.5px #af0e0e !important;
}

label.form__item--label input, 
label.form__item--file-label input {
  border: solid 1.5px #225cb5;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
}

label.form__item--label input {
  padding: 10px;
}

label.form__item--label select {
  background-color: #225cb5;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

input.form__item--input-error {
  background-color: #ffdddd !important;
  border: 1.5px solid #af0e0e !important;
}

label.form__item--error-label {
  color: #af0e0e;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  gap: 5px;
  margin: 5px 0px 0px 0px;
  text-align: left;
}


/* Radio Buttons */
.form__item--radio-button-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.form__item--radio-button-label {
  margin-bottom: 0 !important;
  font-size: 18px !important;
}

.form__item--radio-button-label:hover {
  cursor: pointer;
}

.form__item--radio-button {
  display: flex;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  background: #225cb5;
  border-color: #225cb5;
}

.form__item--red-warning-sign {
  background-image: url("../assets/redwarningsign.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
}


.add__form .form__item input {
  border: solid 1.5px #225cb5;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  padding: 10px;
}

.add__form .form__item input::placeholder {
  color: #666666;
}

.flex-container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.string-list-item {
  padding: 8px 12px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  list-style-type: none; /* Remove default list styling */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* A subtle shadow for depth */
}

caption {
  font-weight: bold;
  margin-bottom: 1px;
  font-size: 15px;
}

.title-barConfirm {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: flex-start; /* Align items to the start vertically */
  padding: 10px;
  background-color: #ffffff;
  border-bottom: thin solid #225cb5 ;
}

.title-groupConfirm {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  margin-left: 35px; /* Spacing between the groups */
  margin-right: 35px;
}

.title-centerConfirm {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the middle content */
}

.title-centerConfirm span{
  margin-bottom: 25px; /* Spacing between entries */
}

.CompleteSurveyDuplicate:hover {
  background-color: Green; 
  color: white;
}
.CancelDelete:hover {
  background-color: green; 
  color: white;
}
.CompleteSurveyDelete:hover {
  background-color: red;
  color: white;
}
.CancelExtend:hover {
  background-color: red; 
  color: white;
}
.CompleteSurveyExtend:hover {
  background-color: green; 
  color: white;
}

button.form__item--cancel-btn {
  background-color: #a04b4b;
  border: hidden;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 10px 20px;
  transition: all .2s ease;
}

button.form__item--confirm-btn {
  background-color: #6da04b;
  border: hidden;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 10px 20px;
  transition: all .2s ease;
}

.form__item--confirm-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 550px){
  .modal-phone {
    max-width: 90%;
  }

  .styled-input1 {
    width: 100%;
  }

  .form__item--confirm-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
}