nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid #225CB5;
    background-color: #fff;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a {
    display: flex;
    text-decoration: none;
}

nav .title {
    color: #225CB5;
    font-size: 32px;
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    width: 120px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #225CB5;
    padding: 0.5rem 3rem;
    margin: 0 2rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}

.active {
    background-color: #225CB5;
    color: #fff;
    transition-duration: 0.4s;
    transition-property: background-color;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #225CB5;
    height: 30px;
    width: 100vw;
}

/* Hamburger menu for phone */
#nav-mobile{
    display: none;
}

#nav-mobile i{
    color: #225CB5;
}

/* PHONES AND SMALL DEVICES */
@media screen and (max-width: 800px){
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 148px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #225CB5;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
        padding: 40px 0 0 10px;
        transition: 300ms ease-in-out;
    }

    nav ul.open {
        right: 0px
    }

    nav ul li {
        margin-bottom: 25px;
    }

    nav ul li a {
        color: #fff;
    }

    #nav-mobile {
        display: block;
    }

    #nav-mobile i {
        font-size: 28px;
        cursor: pointer;
    }

    .active {
        background-color: #fff;
        color: #225CB5;
    }

    .mobile-disable {
        display: none;
    }
}

/* small devices */
@media screen and (max-width: 550px) {
    .logo {
        width: 100px;
    }

    nav ul {
       top: 129px; 
    }

    nav .title {
        font-size: 28px;
    }
    
    nav {
        padding: 1.25rem;
    }
}