.dropdown {
    /* background-color: #225cb5; */
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    /* padding: 10x; */
    display: flex;
    flex-direction: column;
    /* z-index: 1; */
    border-radius: 25px;
    
}

.menu {
    /* position: absolute;
    list-style-type: none;
    margin: 5px;
    padding: 0;
    display: flex;
    border: 1px solid grey;
    width: 150px; */
    /* display: flex; */
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: calc(100% - 80px);
    border-radius: 25px;
    /* justify-content: space-between; */
    margin-top: 42px;
    display: flex;
}

.menu-item {
    padding: 5px;
    box-sizing: border-box;
    /* position: relative; */
    background-color: #225cb5;
    /* z-index: 3; */
    display: flex;
    /* justify-content: space-between; */
    font-size: 10px;
    font-weight: 300;
}

.pair {
    
    /* padding: 2px; */
    /* display: inline; */
    border: none;
    background-color: #225cb5;
    color: #fff;
    /* position: relative; */
    flex: 1;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
    font-weight: 450;
    
}

.pair:hover {
    background-color: rgb(20, 70, 206)
}

.pairing-mode-visual {
    margin-right: 5px;
    overflow: hidden;
    background-color: #225cb5;
    border: none;
    padding: 0;
    cursor: pointer;
}

.pairing-mode-visual img {
    max-width: 23px;
    max-height: 23px;
    
}
.pairing-mode-visual img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    
}

.dropdown-button {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    background-color: #225cb5;
    z-index: 3;
    text-align: left;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.pairing-mode-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure a high z-index to overlay other elements */
  }
.pairing-mode-image img {
    max-width: 80%;
    max-height: 80%;

}