.title{
    width: 195px;
    height: 100%; 
    background: #225CB5;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
  }
  
  .title h1{ /*Evalutation Tool Title*/
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    margin: 10px 0 5px 6px; 
  }
  
  .title .sidebar {
    width: 195px;
    height: calc(100vh - 160px); 
    background: #225CB5;
    position: fixed;
    top: 160px;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
  }
  
  .title .sidebar > div {
    margin: 5%;
  }
  
  .title .sidebar .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
    position: fixed;
    bottom: 20px; 
    left: 0;
  }
  
  .title .sidebar .add_course-btn {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background-color: #6DA04B;
    padding: 10px; 
    border-radius: 5px;
    border-style: none;
    transition: all .2s ease;
    text-align: center;
    cursor: pointer;
  }
  
  .title .sidebar .add_course-btn:hover {
    background-color: #659743;
  }
  
  .sidebar-content {
    width: 85%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-list { /*List for courses and rubrics*/
    max-height: 300px;
    width: 166px;
    overflow-y: auto;
    padding-left: 25%;
    overflow-x: hidden; 
  }
  
  .sidebar-list::-webkit-scrollbar {
    width: 5px;
  }
  
  .sidebar-list::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  .sidebar h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    padding-left: 15%;
    margin-bottom: 20px; 
  }
  
  .sidebar ul li { /*menu options*/
    list-style: none;
    margin-bottom: 10%;
  }
  
  .sidebar ul li a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding-left: 15%;
    margin-bottom: 15%;
    text-decoration: none;
  }
  
  .sidebar-content a {  /*courses and rubric options*/
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    padding-left: 4px;
    text-decoration: none;
  }
  
  .sidebar-content a > div {
    padding: 10% 0% 10% 15%;
    margin-bottom: 10px;
    /* padding: 10px 0; 
    margin-bottom: 0;  */
    font-size: 20px;
    font-weight: 400;
  }
  
  .sidebar-content a > div:hover {
    background-color: #103876;
    border-radius: 5px;
    transition-duration: 0.4s;
  }
  
  .sidebar-content a .active {
    color: #154185;
    background-color: #ffffff;
    border-radius: 5px;
    pointer-events: none;
  }
  
  .sidebar-list .no-content {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
  }
  


  .studentSidebar .title{
    width: 195px;
    height: 100%; 
    background: #225CB5;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
  }
  
  .studentSidebar .headerTitle{
    padding-top:10px;
  }
  
  .studentSidebar .title h1{ /*Evalutation Tool Title*/
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-align: center;
  }
  
  .studentSidebar .title .sidebar {
    width: 195px;
    height: calc(100vh - 160px); 
    background: #225CB5;
    position: fixed;
    top: 160px;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    text-align: center;
  
  }
  
 
  
  
  
  
  
  .studentSidebar .sidebar-content a {  /*courses and rubric options*/
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  
  }
  
  .studentSidebar .sidebar-content a > div {
    align-items: center;
    font-size: 20px;
    padding: 6% 6%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
  }
  
  .studentSidebar .sidebar-content a > div:hover {
    background-color: #103876;
    border-radius: 5px;
    transition-duration: 0.4s;
    padding: 6% 6%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
  
  }
  
  .studentSidebar .sidebar-content a .active {
    color: #154185;
    background-color: #ffffff;
    border-radius: 5px;
    pointer-events: none;
    padding: 6% 6%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
  
  }





  /* Media queries for responsiveness */
  @media screen and (max-width: 800px) {
    .sidebar {
      display: none;
    }
  }
   
  
  
  