.containerOfCourses {
  padding-bottom: 50px;
}

.termContainer {
  display: flex;
  justify-content: center;
  scroll-margin-top: 148px;
}

.termContent {
  color: #225cb5;
  max-width: 100vw;
  width: 100%;
  padding-left: 50px;
  margin-top: 40px;
  margin-bottom: -20px;
  overflow-y: auto;
  border-radius: 6px;
}


.courseContainer {
  display: flex;
  justify-content: center;
  scroll-margin-top: 148px;
}

select.surveyactions--select {
  width: 140px;
}

.courseContent {
  max-width: 100vw;
  width: 80%;
  margin-top: 50px;
  padding-bottom: 16px;
  border: 1px solid #225cb5;
  border-radius: 6px;
  background-color: #FFFFFF;
  overflow: hidden;
}


/* Course Header Styles */
.courseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 30px; /* do work */
  background-color: #225cb5;
}

.courseHeader-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: end;
}


.courseHeader h2 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-right: 20px;
}

.courseHeader .btn {
  border: none;
  border-radius: 5px;
  padding: 5px 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 148px;
}

.courseHeader .add-btn {
  background-color: #6da04b;
  color: #fff;
  transition: all .2s ease;
}

.courseHeader .add-btn:hover {
  background-color: #659743;
  color: #fff;
  transition: all .2s ease;
}

.courseHeader .update-btn {
  background-color: #fff;
  color: #225cb5;
  transition: all .2s ease;
}

.courseHeader .update-btn:hover {
  background-color: #01245a;
  color: #FFFFFF;
  transition: all .2s ease;
}

/* Table Styles */
.surveyTable {
  width: 100%;
  padding: 0 20px;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

.surveyTable th,
.surveyTable td{
  /*border-bottom: 1px solid #225cb5;*/
  padding: 15px 15px;
  color: #225cb5;
  text-align: center;
  max-width: 10%;
  max-height: 10%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.surveyTable td .warning{
  color: #DE1313;
}


.surveyTable td button {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: #EF6C22;
  color: #FFFFFF;
  border: solid 1px #EF6C22;
  transition-duration: 0.4s;
  transition-property: background-color;
}

.surveyTable td button .openSurveyButton{
  width: 106px;
}

.surveyTable td button:hover {
  background-color: #FFFFFF;
  color: #EF6C22;
  transition-duration: 0.4s;
  transition-property: background-color;
}

.surveyTable th {
  font-size: 18px;
  font-weight: bold;
}

.surveyTable tr {
  border-bottom: 1px solid #225cb5;
}

.surveyTable tbody tr:nth-child(even){
    background-color: #F0F0F0;
}

.no-surveys {
  text-align: center;
  font-style: italic;
  font-weight: normal;
  padding: 15px;
  margin-bottom: -16px;
  font-size: 20px;
  color: #123e81;
}

.CancelContainer {
  margin-bottom: 30px;
}

.CancelContainer .CancelButton {
    background-color: rgba(0,0,0,0);
    color: #225cb5;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    padding: 6px 16px;
    right: 0;
    top: 0;
    border-radius: 0px 5px 0px 0px;
    border-style: none;
}

.CancelContainer .CancelButton:hover {
  cursor: pointer;
}

/* FOR UPDATE ROSTER BUTTON */
/* Modal overall container */
.update-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 1000; /* make sure it appears above other elements */
}

/* Modal content container */
.update-modal-content {
  position: relative;
  max-width: 70%;
  width: 600px;
  padding: 20px 40px 20px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* FORM */
.update-form__item {
  margin-bottom: 20px;
  margin-top: 20px;
}

.update-cancel-btn {
  background-color: #fff !important;
  border: 1px solid #990000 !important;
  color: #990000 !important;
  text-decoration: none;
  margin-right: 12px;
  text-align: center;
}

.update-form__submit {
  background-color: #6da04b !important;
  border: 1px solid #6da04b !important;
  color: #fff !important;
}

.form__submit--container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.update-form__submit:hover {
  background-color: #59863d !important;
  cursor: pointer;
}

.update-form__submit:active {
  border-color: #225cb5 !important;
  color: #225cb5 !important;
}

.update-cancel-btn:active,
.update-cancel-btn:hover {
  background-color: #990000 !important;
  color: #fff !important;
}

.update-cancel-btn:hover {
  cursor: pointer;
}

.update-cancel-btn,
.update-form__submit {
  border-radius: 5px;
  font-weight: 500;
  padding: 9px 18px;
  font-size: 16px;
  transition: all 200ms ease;
}

/* Style for the wrapper */
.update-file-input-wrapper {
  position: relative;
  border-bottom: 2px solid #225cb5;
}

.update-file-input-wrapper div {
  margin-bottom: 8px;
  margin-top: 8px;
}

/* Hide the default input */
.updateroster-file-input {
  border: 1.5px solid #225cb5;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  padding: 10px;
}

/* Custom styling for the button */
.custom-file-label {
  display: inline-block;
  background-color: #225cb5; /* Blue background color */
  color: white; /* Text color */
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
}

/* Style for the selected file name */
.selected-filename {
  margin-left: 20px;
  color: #000;
}

/* Radio Buttons */
.update-radio-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.update-radio--label {
  margin-bottom: 0 !important;
  font-size: 18px !important;
}

.update-radio--label:hover {
  cursor: pointer;
}

.update-radio-button--item {
  display: flex;
  align-items: center;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
  background: #225cb5;
  border-color: #225cb5;
}

/* PHONES AND SMALL DEVICES */
@media screen and (max-width: 800px) {
  .courseHeader h2 {
    font-size: 16px;
  }

  .courseHeader .add-btn,
  .courseHeader .update-btn {
    display: none;
  }

  .courseContent {
    width: 90%;
  }

  /* Survey styles */
  .surveyTable th,
  .surveyTable td {
    padding: 12px 12px;
  }

  .no-surveys,
  .surveyTable th {
    font-size: 16px;
  }

  .surveyTable td {
    font-size: 12px;
  }

  .surveyTable td button {
    padding: 4px 10px;
    font-size: 12px;
  }
  
  .surveyTable {
    max-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .no-surveys,
  .surveyTable th {
    font-size: 14px;
  }

  .surveyactions--select,
  .surveyactions--option {
    font-size: 10px !important;
    width: 80px !important;
  }

  .surveyTable th,
  .surveyTable td {
    padding: 7px;
  }
}