.error-container {
    display: "flex";
    flex-direction: "column";
    border-bottom: "thin solid #225cb5";
}

.error-header {
    display: "flex";
    width: "100%";
    margin-top: "2px";
    padding-bottom: "2px";
    justify-content: "center";
    border-bottom: "thin solid #225cb5",
}

.error-header-text {
  color: "#225cb5";
}

.error-list-container {
    display: "flex";
    flex-direction: "column";
    max-height: "400px";
    overflow-y: "auto";
    overflow-x: "hidden";
}

.error-cancel-button {
    border-radius: "5px";
    font-size: "18px";
    font-weight: "700";
    padding: "5px 12px";
}
