div.top-error-bar {
    background-color: #DD281D;
    color: white;
    font-weight: bold;
    padding: 10px;
}

div.survey-table-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
}

div.row-container {
    margin-top: 25px;
    min-height: 90px;
}

div.vertical-line {
    min-height: 90px;
    display: flex;
    /*flex-flow: row nowrap;*/
}

div.red-vertical-line{
    border-left: 4px solid #DD281D;
}

div.green-vertical-line{
    border-left: 4px solid #6DA04B;
}

div.row-topic-question-container {
    flex: 30%;
    margin-left: 15px;
    min-height: 100%;
    background-color: #225CB5;
    background-clip: padding-box;
    text-align: center;
    display: table;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;   
}

span.topic-question {
    display: table-cell;
    vertical-align: middle;
}

div.response-container {
    flex: 70%;
    display: flex;
    flex-flow: row wrap;
    min-height: 100%;
    row-gap: 10px;
}

div.table-data-container {
    padding-left: 10px;
}

button.response {
    padding-left: 10px;
    height: 100%;
    width: 100%;
    background-color: #EFEFEF;
    font-weight: bold;
    border-radius: 5px;
    font-size: 100%;
    border: 3px solid;
}

button.unclicked {
    border-color:  #EFEFEF;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
}

button.unclicked:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button.clicked {
    border-color: #225CB5;
    color: #225CB5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.Header {
    margin-top: 10px;
    margin-left: 20px;
}

h1.Survey-Name, h2.Evaluation-Name {
    color: #225CB5;
    margin-bottom: 20px;
    font-size: 40px;
}

button.directional {
    position: fixed;
    bottom: 25px;
    text-align: center;
    color:white;
    font-weight: bold;
    min-width: 7%;
    max-width: 7ex;
    height: 3em;
    border-radius: 5px;
    border: none;
}

button.next {
    left: 92%;
}

button.red {
    background-color: #DD281D;
}

button.green {
    background-color: green;
}

button.previous {
    right: 92%;
}

button.directional:hover {
    cursor: pointer;
}